{#
/**
 * @file
 * Profile magazine_navigation_block
 */
#}
<div{{ attributes.addClass('flex-container') }}>
    <div class="flex-12-of-12">
        <h2>Research & Ideas | </h2> |
        <select name="topics">
            <option value="something">Something</option>
            <option value="else">Something Else</option>
        </select>
        <span>Issues</span>
        <form>
            <input type="text" value="Something goes here"></input>
        </form>
    </div>
    <div>
        <p>Test Variable = {{ test_variable_module }}</p>
        <p>Test 2 = {{ test_var }}</p>
    </div>
</div>
