<div id="magazine-curtain" class="magazine-curtain hero-curtain hero-scroll">

	<div class="curtain-content">
		<h1>This is my curtain.</h1>

		<p>Curtain content:
			{{ curtain_content }}</p>
	</div>

</div>
