<div id="magazine-curtain" class="magazine-curtain hero-curtain hero-scroll">

	<div class="curtain-image">
		<img src="{{ curtain_content.media_url }}"/>
	</div>

	<div class="curtain-content">

		<a href="{# curtain_content.issue_url #}" class="engineering-accent-color__background">
			<h1>Stanford Engineering Magazine |
				{{ curtain_content.issue_number}}
			</h1>
		</a>

		<p>Scroll to
			<strong>explore the latest news</strong>
			{# curtain_content.text #}
		</p>


	</div>

</div>
