<div id="magazine-curtain" class="magazine-curtain hero-curtain hero-scroll">

	<div class="curtain-image">
		<img src="{{ curtain_content.media_url }}" alt="Presentation image" aria-role="presentation"/>
	</div>

	<div class="curtain-content">

		<a href="{# curtain_content.issue_url #}" class="engineering-accent-color__background">
			<h1>Stanford Engineering Magazine |
				{{ curtain_content.issue_number}}
			</h1>
		</a>

		<div class="curtain-content__scroll-text">
			<p>
				<strong>Explore the latest news</strong>
			</p>
		</div>


	</div>

</div>
